section {
  position: fixed !important;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

section:not(.first) {
  opacity: 0;
  visibility: hidden;
  transform: scale(0.8);
}
